Repository ysrckr/unalremzi-react: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  run: pnpm run prettier {staged_files}

eslint:
  run: pnpm run eslint {staged_files}

stylelint:
  run: pnpm run stylelint {staged_files}

Refactor image sources and add company logo component
  src/Layouts/Footer/index.tsx
  src/Layouts/Header/index.tsx
  src/Pages/Home/index.tsx
  src/assets/images/suit1.jpeg
  src/assets/images/suit2.jpg
  src/assets/images/suit3.jpeg
  src/utils/constants/index.ts
  src/utils/fileToSource.ts
  tsconfig.json
  vite.config.ts
Due: prettier, eslint

Add footer styling to the Footer component
  src/Layouts/Footer/footer.module.scss
  src/Layouts/Footer/index.tsx
Due: prettier, eslint, stylelint

Refactor footer and header to use arrow function syntax and add scroll effect
  src/Layouts/Footer/index.tsx
  src/Layouts/Header/header.module.scss
  src/Layouts/Header/index.tsx
Due: prettier, eslint, stylelint

Add SocialMedia component and social media data
  src/Layouts/Footer/index.tsx
  src/components/SocialMedia/index.tsx
  src/data/socialMediaList.ts
  src/types/SocialMedia.ts
Due: prettier, eslint

Add CopyRight and DesignedBy components to Footer
  src/Layouts/Footer/index.tsx
  src/components/CopyRight/index.tsx
  src/components/DesignedBy/designedby.module.scss
  src/components/DesignedBy/index.tsx
Due: prettier, eslint, stylelint

Add social media icons to the footer
  src/Layouts/Footer/index.tsx
  src/assets/icons/social/facebook.svg
  src/assets/icons/social/instagram.svg
  src/components/DesignedBy/index.tsx
  src/components/SocialMedia/index.tsx
  src/components/SocialMedia/socialMedia.module.scss
  src/data/socialMediaList.ts
Due: prettier, eslint, stylelint

Refactor footer module and home page
  src/Layouts/Footer/footer.module.scss
  src/Layouts/Footer/index.tsx
  src/Pages/Home/index.tsx
Due: prettier, eslint, stylelint

Add social media icons to footer and mobile menu
  src/Layouts/Footer/footer.module.scss
  src/Layouts/Footer/index.tsx
  src/components/MobileMenu/index.tsx
Due: prettier, eslint, stylelint

Add home module styles and mask image
  src/Pages/Home/home.module.scss
  src/Pages/Home/index.tsx
  src/assets/masks/blob.svg
Due: prettier, eslint, stylelint

Adjust mask position and size in home.module.scss and blob.svg
  src/Pages/Home/home.module.scss
  src/assets/masks/blob.svg
Due: prettier, stylelint

Update MobileMenu animation and transition properties
  src/components/MobileMenu/index.tsx
Due: prettier, eslint

Remove lefthook package from dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

Refactor prettier command in lefthook.yml to remove unnecessary pnpm command
  lefthook.yml
Due: prettier

Fix pnpm audit command in lefthook.yml
  lefthook.yml
Due: prettier

big commit
  .eslintrc
  .prettierrc
  .stylelintrc
  README.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/Layouts/Footer/footer.module.scss
  src/Layouts/Footer/index.tsx
  src/Layouts/Header/header.module.scss
  src/Layouts/Header/index.tsx
  src/Layouts/MainLayout/index.tsx
  src/Pages/About/index.tsx
  src/Pages/Home/home.module.scss
  src/Pages/Home/index.tsx
  src/components/CompanyLogo/companyLogo.module.scss
  src/components/CompanyLogo/index.tsx
  src/components/MobileMenu/index.tsx
  src/components/Navigation/index.tsx
  src/components/Navigation/navigation.module.scss
  src/components/NavigationItem/index.tsx
  src/components/NavigationItem/navigationItem.module.scss
  src/i18n.ts
  src/main.tsx
  src/router.ts
  src/stores/UIStore.ts
  src/styles/_colors.scss
  src/styles/_lists.scss
  src/styles/_mixins.scss
  src/styles/index.scss
  src/utils/localization.ts
  vite.config.ts
Due: prettier, eslint, stylelint

Update social media icons
  src/data/socialMediaList.ts
Due: prettier, eslint

Add Carousel component and carouselImages data
  src/Pages/Home/index.tsx
  src/components/Carousel/carousel.module.scss
  src/components/Carousel/index.tsx
  src/data/carouselImages.ts
  src/types/Images.ts
Due: prettier, eslint, stylelint

Refactor Image interface properties
  src/components/Carousel/index.tsx
  src/types/Images.ts
Due: prettier, eslint

Refactor carousel module styles and update carousel index component
  src/components/Carousel/carousel.module.scss
  src/components/Carousel/index.tsx
  src/data/carouselImages.ts
Due: prettier, eslint, stylelint

Refactor import order in Carousel component
  src/components/Carousel/index.tsx
Due: prettier, eslint

Refactor carousel module styles and add image navigation
  src/components/Carousel/carousel.module.scss
  src/components/Carousel/index.tsx
Due: prettier, eslint, stylelint

Add class "mask" to imageCounter element
  package.json
  pnpm-lock.yaml
  src/components/Carousel/carousel.module.scss
  src/components/Carousel/index.tsx
Due: prettier, eslint, stylelint

Fix mask image path in Carousel component
  pnpm-lock.yaml
  src/components/Carousel/carousel.module.scss
Due: prettier, stylelint

Refactor carousel control buttons
  pnpm-lock.yaml
  src/assets/masks/blob.svg
  src/components/Carousel/carousel.module.scss
  src/components/Carousel/index.tsx
Due: prettier, eslint, stylelint

Refactor code to improve performance and readability
  pnpm-lock.yaml
Due: none

Update carousel image mask size and position
  src/assets/masks/mask3.png
  src/components/Carousel/carousel.module.scss
  src/components/Carousel/index.tsx
Due: prettier, eslint, stylelint

Update styles and import order in MainLayout and Home pages
  src/Layouts/MainLayout/index.tsx
  src/Layouts/MainLayout/mainLayout.module.scss
  src/Pages/Home/home.module.scss
  src/Pages/Home/index.tsx
  src/components/Carousel/carousel.module.scss
  src/components/Carousel/index.tsx
Due: prettier, eslint, stylelint

Refactor stylelint script and fix formatting issues
  lefthook.yml
  package.json
  src/Layouts/MainLayout/index.tsx
  src/Pages/Home/index.tsx
  src/components/Carousel/carousel.module.scss
Due: prettier, eslint, stylelint

Update package.json script name
  package.json
Due: prettier

Update styles for carousel buttons and image counter
  src/components/Carousel/carousel.module.scss
Due: prettier, stylelint

Add ScrollBar component and its styles
  src/components/ScrollBar/index.tsx
  src/components/ScrollBar/scrollbar.module.scss
Due: prettier, eslint, stylelint

Add ScrollBar component to MainLayout
  src/Layouts/MainLayout/index.tsx
  src/Layouts/MainLayout/mainLayout.module.scss
  src/components/ScrollBar/index.tsx
  src/components/ScrollBar/scrollbar.module.scss
Due: prettier, eslint, stylelint

Add favicon images and update Home page layout
  index.html
  public/favicon/android-icon-144x144.png
  public/favicon/android-icon-192x192.png
  public/favicon/android-icon-36x36.png
  public/favicon/android-icon-48x48.png
  public/favicon/android-icon-72x72.png
  public/favicon/android-icon-96x96.png
  public/favicon/apple-icon-114x114.png
  public/favicon/apple-icon-120x120.png
  public/favicon/apple-icon-144x144.png
  public/favicon/apple-icon-152x152.png
  public/favicon/apple-icon-180x180.png
  public/favicon/apple-icon-57x57.png
  public/favicon/apple-icon-60x60.png
  public/favicon/apple-icon-72x72.png
  public/favicon/apple-icon-76x76.png
  public/favicon/apple-icon-precomposed.png
  public/favicon/apple-icon.png
  public/favicon/browserconfig.xml
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-96x96.png
  public/favicon/favicon.ico
  public/favicon/manifest.json
  public/favicon/ms-icon-144x144.png
  public/favicon/ms-icon-150x150.png
  public/favicon/ms-icon-310x310.png
  public/favicon/ms-icon-70x70.png
  src/Pages/Home/index.tsx
Due: prettier, eslint

Update companyECommerce.module.scss and index.tsx to add a new component for displaying company e-commerce information.The commit message should be: "Add CompanyECommerce component"
  index.html
  public/favicon/manifest.json
  src/Layouts/MainLayout/mainLayout.module.scss
  src/Pages/Home/home.module.scss
  src/Pages/Home/index.tsx
  src/components/CompanyECommerce/companyECommerce.module.scss
  src/components/CompanyECommerce/index.tsx
Due: prettier, eslint, stylelint

format
  .prettierrc
  index.html
  src/Layouts/Header/index.tsx
  src/Layouts/MainLayout/index.tsx
  src/Pages/Home/home.module.scss
  src/Pages/Home/index.tsx
  src/components/Carousel/index.tsx
  src/components/CompanyECommerce/companyECommerce.module.scss
  src/components/CompanyECommerce/index.tsx
  src/components/CompanyLogo/index.tsx
  src/components/DesignedBy/index.tsx
  src/components/Navigation/index.tsx
  src/components/NavigationItem/index.tsx
  src/components/ScrollBar/index.tsx
  src/components/SocialMedia/index.tsx
  src/styles/_colors.scss
Due: prettier, eslint, stylelint

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,css,scss,md,json,yml}
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{css,scss,less,sass}
